




:root {
    --bg-image: url('abg.jpg');
    --header-image: url('a.jpg');
}





body {
    background-color: black;
    background: var(--bg-image) fixed;
    margin: 0;
}





#mainBlock {
    max-width: 1300px;
    margin: 0 auto;
}
#maintxt a {
    color: red;
    text-decoration: none;
}
#mainPic {
    margin: 0 auto;
    width: 60.5%;
    background-color: black;
    height: 625px;
    background: var(--header-image);
    background-size: 100%;
    background-repeat: no-repeat;
}
#mainNavBar {
    background-color: black;
    height: 25%;
    width: 60.5%;
    margin: 0 auto;
}
iframe {
    display: block;
    border-style:none;
}
* {
    box-sizing: border-box;
}





#mainBlock a:hover {

}
#flex {
    display: flex;
}











.nAU {
    color: white;
background-color: black;
padding: 20px;
height: 30vh;
order: 2;
width: 60.5%;
margin: 0 auto;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    overflow: scroll;
    display: flow-root;
}



dt {
    color: blue;
    font-weight:700;
    float:left;
    clear:both;
    margin:0 0 5px;
    width:140px
}
dd {
    margin:0 0 5px 140px
}

















.write {
    margin: 0 auto;
    height: 30vh;
    width: 60.5%;
    background-color: black;
    color: white;
    text-align: center;

}


.medias {
        margin: 0 auto;
    height: 60vh;
    width: 60.5%;
    background-color: black;
    color: white;
    text-align: center;
}





.asd {
        margin: 0 auto;
    height: 60vh;
    width: 60.5%;
    background-color: black;
    color: white;
    text-align: center;
}











::-webkit-scrollbar {
width: 8px;
height: 8px;
background: transparent;
}
::-webkit-scrollbar-button {
width: 4px;
height: 4px;
background: transparent;
}
::-webkit-scrollbar-thumb {
background-color: #639978;

}
::-webkit-scrollbar-thumb:hover {
background:#639978;
}
::-webkit-scrollbar-thumb:active {
background:#639978;
}
::-webkit-scrollbar-track {
background:0 0;
border:none;border-radius:0;
}
::-webkit-scrollbar-track:hover {
background:0 0;
}
::-webkit-scrollbar-track:active {
background:0 0;
}
::-webkit-scrollbar-corner {
background:0 0;
}
























.nAU {
            border-radius:20px;
            border: var('--header-image') round;
            border-image-slice: 30;
            border-image-slice:  713 466 780 466;
            border-image-width: 300px 200px 300px 200px;
            border-image-repeat: space;
            border-image-outset: 20px 70px 20px 70px;
        }
